<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>

  <targets>
    <target name="c" xsi:type="Console"  layout="${longdate} ${callsite} ${level} ${message}" />

    <target name="f"
            xsi:type="File"
            fileName="${basedir}/logs/${logger}.txt"
            deleteOldFileOnStartup="true"
            keepFileOpen="true"
            archiveEvery="Day"
            archiveOldFileOnStartup="True"
            maxArchiveFiles="4"
            archiveAboveSize="10240">
      <layout xsi:type="CSVLayout">
        <column name="time" layout="${longdate}" />
        <column name="level" layout="${level}" />
        <column name="logger" layout="${logger}" />
        <column name="message" layout="${message}" />
      </layout>
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="c" />
    <!-- <logger name="*" minlevel="Info" writeTo="f" /> -->
  </rules>
</nlog>